<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">Data SAAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if active == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active == 'employees' %}active{% endif %}" href="#">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active == 'sync_logs' %}active{% endif %}" href="{% url 'sync_logs' %}">Log de Sincronização</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active == 'api_config' %}active{% endif %}" href="{% url 'api_config' %}">Configurações API</a>
                </li>
            </ul>
            <div class="d-flex">
                <span class="navbar-text me-3">
                    Olá, {{ user.full_name }}
                </span>
                <a href="{% url 'logout' %}" class="btn btn-outline-danger">Sair</a>
            </div>
        </div>
    </div>
</nav>